body,html{
	margin:0px;
    padding:0px;
    font-family: 'Quicksand', sans-serif;
}
body{
	font-size: 15px;
}
section{
	padding-top: 50px;
}
.right-divider {
	border-right: 1px solid #ddd;
}
/*-------Settings-------*/
.default-color{
	color: #53F0CD;
}
.white-color{
	color: #fff;
}
.dark-color{
	color: #4A4A4A;
}
.no-padding{
	padding: 0px;
}
.no-margin{
	margin: 0px;
}
.text-justify{
	text-align: justify;
}
.text-left{
	text-align: left;
}
.text-right{
	text-align: right;
}
.grey-section{
	background-color: #4A4A4A;
}
.circle-item{
	border-radius: 50%;
	/* Safari 3-4, iOS 1-3.2, Android 1.6- */
	-webkit-border-radius: 50%;
	/* Firefox 1-3.6 */
	-moz-border-radius: 50%;
	/* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
	border-radius: 50%;
}
.button-mealplan {
    background: none;
    color: #fff;
    font-size: 18px;
    text-align: center;
    border: solid 1px #FFF;
    text-transform: uppercase;
    font-weight: 400;
    border-radius: 0px;
    margin: 5px;
    padding-left: 22px;
    padding-right: 22px;
    transition: all 0.6s ease 0s;
}

.button-mealplan:hover, .button-mealplan:focus, .button-mealplan:active {
    background-color: #53F0CD;
    color: #fff;
    font-size: 18px;
    border-color: #53F0CD;
    font-weight: 400;
    border-radius: 0px;
}
/*----------Header---------*/
.navbar-nav > li > a {
    color: #ffffff;
}
.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background: none;
}
#mealplan-header{
	position: absolute;
	width: 100%;
	z-index: 5;
	padding: 30px;
	overflow: hidden;
}
.intro{
	background-size: cover;
}
.home-bg{
	position:absolute;
    z-index:-1;
	width:100%;
	height:100%;
	background: url('../images/home-bg.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.slide{
	height:calc(100vh);/*vw is viewport height*/
	position:relative;
	z-index: 1;
}
.container-slide {
	top: 32%;
	z-index: 10;
}

.container-slide h1{
	color: #fff;
	font-size: 40px;
	margin-bottom: 65px;
}

#slide-intro .tint {
    background: rgba(60,54,54,0.53);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}
.strikethrough {
  position: relative;
}
.strikethrough:before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  right: 0;
  border-top: 2px solid;
  border-color: #53F0CD;

  -webkit-transform:rotate(-5deg);
  -moz-transform:rotate(-5deg);
  -ms-transform:rotate(-5deg);
  -o-transform:rotate(-5deg);
  transform:rotate(-5deg);
}
.menu-word{
	position: absolute;
    margin-top: 35px;
    margin-left: -60px;
    color: #53F0CD;
}

/*------Home-steps-------*/
#step-box{
	text-align: center;
}
#step-box img{
	display: inline-block;
}
#step-box p{
	padding-top: 15px;
    padding-bottom: 10px;
}
#step-item{
	margin-left: 35px;
    margin-right: 35px;
}
/*------Home-information-------*/
.information-item{
	width: 100%;
	float: left;
	position: relative;
}
#but-why{
	background-color: #53F0CD;
}
#right-image-information{
	width: 50%;
	float: right;
}
#left-image-information{
	width: 50%;
	float: left;
}
#left-text-information p{
	text-align: justify;
	font-size: 16px;
}
.absolute-content-left{
	position: absolute;
	padding: 35px;
	width: 58%;
	left: 0;
	top: 12%;
}
.absolute-content-right{
	position: absolute;
	padding: 35px;
	width: 58%;
	right: 0;
	top: 12%;
}
.information-title{
	margin-bottom: 25px;
}
.information-subtitle{
	margin-bottom: 15px;
}
#get-organized{
	background-color: #F6F6F6;
}

/*--------Footer---------*/
ul.ul-footer li{
	list-style-type: none;
	color: #53F0CD;
	font-size: 14px;
}

ul.ul-footer li.li-footer-title{
	padding-bottom: 5px;
}

#mealplan-footer{
	padding-top: 50px;
    padding-bottom: 15px;
}

.ul-footer > li > a{
	color: #9B9B9B;
	font-size: 14px;
}

.ul-footer > li > a:hover{
	color: #fff;
	text-decoration: none;
}
#copyright{
	padding-top: 20px;
	color: #9B9B9B;
	font-size: 13px;
}